<div style="display: grid; grid-gap: 16px; padding: 36px 40px; background: #2A2931; justify-content: center; color: white">
    <span style="font-size: 40px; font-weight: 700; font-family: 'Inter', sans-serif;">Create a new Listing</span>
    <mat-form-field class="custom-form-field" appearance="outline">
        <input matInput type="text" autocomplete="off" placeholder="Name" [(ngModel)]="listing_name">
    </mat-form-field>


    <mat-form-field class="custom-form-field" appearance="outline">
        <textarea matInput
                maxlength="255"
                autocomplete="off"
                [(ngModel)]="listing_description"
                placeholder="Description"
                [matTextareaAutosize]="true"
                [matAutosizeMinRows]="2"
        ></textarea>
    </mat-form-field>

    <mat-form-field class="custom-form-field" appearance="outline">
        <input matInput type="number" autocomplete="off" placeholder="Price (in XRP)" [(ngModel)]="listing_price">
    </mat-form-field>

    <mat-form-field class="custom-form-field" appearance="outline">
        <input matInput type="text" autocomplete="off" placeholder="Location" [(ngModel)]="listing_location">
    </mat-form-field>
 
    <div style="display: flex; flex-direction: row;flex-wrap: wrap; justify-content: space-between">
        <button mat-button class="create_btn" (click)="fileInput.click()">
            <mat-icon svgIcon="upload"></mat-icon>
            <span style="padding: 0 7px">Upload featured image</span>
        </button>
        <input type="file" (change)="fileChangeEvent($event)"
                     #fileInput id="fileUpload" [value]=""
                     name="fileUpload" accept="video/webm, video/mp4, image/*" style="display: none" />
        <div *ngIf="fileError">
            <span style="color: red">{{fileError}}</span>
        </div>
        <div *ngIf="filename" style="display: flex;">
            <span class="filename-wrapper">{{filename}}</span>
            <mat-icon svgIcon="close" (click)="clear_file()"></mat-icon>
        </div>
    </div>
    <button mat-flat-button
            class="mat-primary btn-save"
            style="width: 115px; margin: 0 auto;"
            (click)="create_listing()"
            [disabled]="!listing_name || !filename || is_creating">Create</button>
</div>